<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <p>Bem Vindo ao Adavnce To Do List !</p>
<span>No menu lado você pode:</span>
<ol>
    
        <li> Adicionar Tarefa</li>
        <li> Ver Tarefas</li>
        <li> Tarefas completas</li>
        <li> Controlar Tarefas</li>
   
</ol>
    
</body>
</html>

